<a href="https://colab.research.google.com/github/pragnareddy96/Battu_INFO5731_Spring2020/blob/master/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Write a Python program to generate 12 random numbers between 1 and 100.#


import random 
  


def Rand(start, end, num): 
    res = [] 
  
    for j in range(num): 
        res.append(random.randint(start, end)) 
  
    return res 
  
 
num = 12
start = 1
end = 100
print(Rand(start, end, num))

[88, 73, 4, 76, 6, 90, 1, 65, 21, 95, 22, 4]

In [0]:
#Sort the list of numbers in ascending order and print it out.#
numbers = [88, 73, 4, 76, 6, 90, 1, 65, 21, 95, 22, 4] 
numbers.sort() 
  
print(numbers)

[1, 4, 4, 6, 21, 22, 65, 73, 76, 88, 90, 95]

In [0]:
#Sort the list of numbers in descending order and print it out.#
numbers = [88, 73, 4, 76, 6, 90, 1, 65, 21, 95, 22, 4] 
  

numbers.sort(reverse = True) 
  
print(numbers)

[95, 90, 88, 76, 73, 65, 22, 21, 6, 4, 4, 1]

In [0]:
#Calculate the average for the group and print it out.#
 
def Average(lst): 
    return sum(lst) / len(lst) 
  
 
lst = [88, 73, 4, 76, 6, 90, 1, 65, 21, 95, 22, 4] 
average = Average(lst) 

print("Average of the group =", round(average, 2))

Average of the group = 45.42

In [3]:
#3 question#
import math
print("r v")
for i in range(1,10):
  print(i,((4/3)*3.14*i**3))

r v
1 4.1866666666666665
2 33.49333333333333
3 113.03999999999999
4 267.94666666666666
5 523.3333333333334
6 904.3199999999999
7 1436.0266666666666
8 2143.5733333333333
9 3052.08

In [7]:
# question 2
import sys
import string
import re


sentence1=input("Enter the first sentence :")
sentence2=input("Enter the second sentence :")


lst1=re.findall(r"[\w']+|[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]", sentence1)
lst2=re.findall(r"[\w']+|[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]", sentence2)
print("Sentence 1 words :",lst1)
print("Sentence 2 words :",re.findall(r"[\w']+|[!\"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]", sentence2))


print(list(set([word.lower() for word in lst1]) & set([word.lower() for word in lst2])))


print([word.strip(string.punctuation) for word in sentence1.split()])
print([word2.strip(string.punctuation) for word2 in sentence2.split()])


print("a:",(sentence1.lower().count('a')+sentence2.lower().count('a')),",e:",(sentence1.lower().count('e')+sentence2.lower().count('e')),"i:",(sentence1.lower().count('i')+sentence2.lower().count('i')),"o:",(sentence1.lower().count('o')+sentence2.lower().count('o')),"u:",(sentence1.lower().count('u')+sentence2.lower().count('u')))

Enter the first sentence :hey hello
Enter the second sentence :good morning
Sentence 1 words : ['hey', 'hello']
Sentence 2 words : ['good', 'morning']
[]
['hey', 'hello']
['good', 'morning']
a: 0 ,e: 2 i: 1 o: 4 u: 0

In [18]:
# question 4#
import pandas as pd
import math
url = 'https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/Assignments/Assignment1_denton_housing.csv'
df = pd.read_csv(url, error_bad_lines=False)


rows=df.loc[df['title_field']=='Occupied Housing Units']
rows=rows.values.tolist()
lst=[]
for i in range(len(rows)-1,0,-1):
    print(rows[i][0],"-",rows[i-1][0],":",(rows[i][2]-rows[i-1][2]))
    lst.append((rows[i][2]-rows[i-1][2]))
lst.sort(reverse=False)
print(lst)




ohu=dict()
vhu=dict()
thu=dict()
    
newrows=df.loc[(df['title_field']=='Vacant Housing Units') | (df['title_field']=='Occupied Housing Units') | (df['title_field']== 'Total Housing Units')]
newrows=newrows.sort_values(['year','title_field'],ascending=[1,0]).values.tolist()
count=0
for i in range(len(rows)):
    thu[newrows[i+count+1][0]]=newrows[i+count+1][2]
    vhu[newrows[i+count][0]]=newrows[i+count][2]
    ohu[newrows[i+count+2][0]]=newrows[i+count+2][2]
    print(newrows[i+count][0],":",((newrows[i+count][2]/newrows[i+count+1][2])*100),((newrows[i+count+2][2]/newrows[i+count+1][2])*100))
    count=count+2


vhukey= max(vhu, key=lambda k: vhu[k])
ohukey= max(ohu, key=lambda k: ohu[k])
print("Vacant Housing Units :",vhukey,vhu[vhukey])
print("Occupied Housing Units :",ohukey,vhu[ohukey])
    


denomi=0
for value in thu.values():
    denomi=denomi+(1/value)
print("Harmonic Mean of the Total Housing Units :",(len(thu.values())/denomi))

2008 - 2009 : 795
2009 - 2010 : -5091
2010 - 2011 : 303
2011 - 2012 : -1404
2012 - 2013 : -1565
2013 - 2014 : -2622
[-5091, -2622, -1565, -1404, 303, 795]
2008 : 10.88265281351653 89.11734718648347
2009 : 9.07111572444872 90.92888427555128
2010 : 8.142556337081672 91.85744366291833
2011 : 9.379522229890688 90.6204777701093
2012 : 6.677600230491346 93.32239976950866
2013 : 8.801787504176412 91.19821249582358
2014 : 5.730110570363885 94.26988942963611
Vacant Housing Units : 2008 4483
Occupied Housing Units : 2014 2814
Harmonic Mean of the Total Housing Units : 44398.28543969185