<a href="https://colab.research.google.com/github/pragnareddy96/Battu_INFO5731_Spring2020/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
 #(1) Write a Python program to calculate the length of a string.#

str = input("Enter a string: ")
print("Length of the input string is:", len(str))

Enter a string: djadal
Length of the input string is: 6

In [73]:
#(2) Write a Python program to count the number of characters in a string.#

def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [74]:
#(3) Write a Python program to sum all the items in a list#

 
total = 0
list1 = [12, 6, 18, 20, 24]   
for ele in range(0, len(list1)): 
    total = total + list1[ele] 
print("Sum of all the items in a list: ", total)

Sum of all the items in a list:  80

In [75]:
#(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.#
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

In [76]:
#5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

 #S=3.14*(1+a/b)^3#

def calculate(a,b):
  return 3.14 * (1 + ( float(a) / float(b) )**3 )
a = input("a=")
b = input("b=")
calculate(a,b)

a=5
b=5

6.28

In [77]:
# 6)Write a Python program to concatenate following dictionaries to create a new one.#

dic1={1:10, 2:20}  
dic2={3:30, 4:40}  
dic3={5:50,6:60}  
dic4 = {}  
for d in (dic1, dic2, dic3): dic4.update(d)  
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [79]:
# 7)Write a Python program to check whether an element exists within a tuple.#

tuplex = ("e", 3, "0", "e", "5", "o", "u", "p", "q", "1")
print("r" in tuplex)
print(5 in tuplex)

False
False

In [80]:
#8)Write a Python program to find maximum and the minimum value in a set.#

sampleset = {12,2,5,49}
print("maximum value in myset is",max(sampleset))
print("minimum value in myset is",min(sampleset))

maximum value in myset is 49
minimum value in myset is 2

In [81]:
import random
studnet_list = ['sa0753','laa0240','lba0043','pb0283','vmb0067','vcd0017','ag1121','lg0426','mj0396','ak0860','vk0222','vk0216', 'tpk0023','nk0327','mk0830','tbl0041','al0787','am1823','sm1515','km0738','hn0139','an0521','ap0975','dp1080', 'pk0292','vp0241','rp0477','hr0178','ps0501','ss1976','ss1872','ss1872','bs0490','pt0218','ry0104']
for i in range(4):
  sample=random.choices(studnet_list, k=6)
  studnet_list = [i for i in studnet_list if i not in sample]
  print("group  " +str(i+1)+": ", sample)

TypeError: ignored